* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-width: 320px;
    position: relative;
    width: 100%;
    color: #000;
}


.wrapper {
    min-height: 100%;
    background-color: #b86464;
    display: grid;
    grid-template: 1fr minmax(30px, auto) / 1fr;
    grid-template-areas: 
        "main"
        "footer";
}

.main {
    grid-area: main;
    display:flex;
    
    justify-content: center;
    align-items: center;
}

.calc {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #575353;
    display: flex;
    flex-direction: column;
    padding: 15px;

    
}

.calc__display {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 100px;
    background-color: lightgray;
    margin-bottom: 15px;
    

    
}

.display__history {
    padding: 0 5px 5px 0;
    line-height: 1.5rem;
}

.display__main {
    font-size: 36px;
    line-height: 48px;
    padding: 0 5px 10px 0;
}

.calc__buttons {
    display: grid;
    grid-template: repeat(5, 1fr)/ repeat(4, 1fr);
    grid-gap: 0.8vw;
}

.calc__buttons button {
    padding: 5px 10px;
    min-width: 60px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.button__operate {
    background-color: #9e9e9e;
}

button#multiply span{
    position: relative;
    top: 5px;
}

button#backspace span {
    position: relative;
    top: -4px;
}

button#equals {
    grid-row: 4/6;
    grid-column: 4/5;
    background-color: #534e7c;
    color: #fff;
}

.footer {
    grid-area: footer;
    text-align: center;
}

.github__logo{
    width: 20px;
    height: 20px;
    margin: 0 0 -3px 10px;

}